.book-image {
    height: 800px;
    width: auto;
    // background-image: url('../images/book.jpg');
    background-repeat: no-repeat;
    /* background-size:100%; */
}

.my-blue {
    color: #025e73;
}

#car-btn {
    margin-left: auto;
}

@media (min-width: 768px) {
    #book-info-container {
        margin-bottom: 0;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
  }