<div class="container mb-4">

    <div class="row">
        <div class="text-secondary mb-3 mt-3 col-12 col-md-12">
            <h1>The Arrivals</h1>
        </div>
    </div>

    <div class="">
        <div class="row">
            <div class="col-12 col-md-5 mb-3">
                <img src="../../../assets/images/book.jpg" class="img-fluid" alt="Responsive image">
            </div>

            <div class="col-12 col-md-7 container">
                <div class="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus laboriosam animi consectetur veritatis maiores neque tempore, quod magni excepturi doloribus. Repudiandae consequatur, asperiores obcaecati quia ipsa assumenda veritatis et dolores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus laboriosam animi consectetur veritatis maiores neque tempore, quod magni excepturi doloribus. Repudiandae consequatur, asperiores obcaecati quia ipsa assumenda veritatis et dolores.</p>
                </div>

                <div class="row" id="book-info-container">                    
                    <div class="col">
                        <p class="font-weight-bold text-info">Valor Unitario {{unitValue | currency}}</p>
                        <form id="bookForm" action="" class="" [formGroup]="bookForm">
                            <div class="form-group mb-2 d-flex">
                                <label for="" class="col-form-label mr-3 font-weight-bold">Cantidad </label>
                                <div class="">
                                    <input id="amount" type="number" class="form-control" formControlName="amount" value="1" [(ngModel)]="amount">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row mb-2">
                                <div class="col">
                                    <h3 class="my-blue font-weight-bold">Total {{amount * unitValue | currency}}</h3>
                                </div>
                                <div class="col d-flex align-middle">
                                    <button type="button" id="car-btn" class="font-weight-bold btn btn-info">
                                        <!-- <div class=""> -->
                                            <i class="bi bi-cart-plus m-r-1"></i>
                                        <!-- </div>
                                        <div class=""> -->
                                            Añadir al carrito
                                        <!-- </div> -->
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>